<label class="col-md-6 control-label">
    {{editor.name}}
    <br>       
    <small class="help-block">{{editor.type}}</small>
</label>

<div class="col-md-6 control-editor bounds">
    <div class="mar-btm" style="columns:2">
        <p style="display: flex; justify-content: space-between;">
            <span style="font-size: .9em">x:</span>
            <span style="border-bottom: 1px dotted #f2f2f2;">{{editor.x.value}}</span>
        </p>
        <p style="display: flex; justify-content: space-between;">
            <span style="font-size: .9em">y:</span>
            <span style="border-bottom: 1px dotted #f2f2f2;">{{editor.y.value}}</span>
        </p>
        <p style="display: flex; justify-content: space-between;">
            <span style="font-size: .9em">width:</span>
            <span style="border-bottom: 1px dotted #f2f2f2;">{{editor.width.value}}</span>
        </p>
        <p style="display: flex; justify-content: space-between;">
            <span style="font-size: .9em">height:</span>
            <span style="border-bottom: 1px dotted #f2f2f2;">{{editor.height.value}}</span>
        </p>
        <p style="display: flex; justify-content: space-between;">
            <span style="font-size: .9em">top:</span>
            <span style="border-bottom: 1px dotted #f2f2f2;">{{editor.top.value}}</span>
        </p>
        <p style="display: flex; justify-content: space-between;">
            <span style="font-size: .9em">bottom:</span>
            <span style="border-bottom: 1px dotted #f2f2f2;">{{editor.bottom.value}}</span>
        </p>
        <p style="display: flex; justify-content: space-between;">
            <span style="font-size: .9em">left:</span>
            <span style="border-bottom: 1px dotted #f2f2f2;;">{{editor.left.value}}</span>
        </p>
        <p style="display: flex; justify-content: space-between;">
            <span style="font-size: .9em">right:</span>
            <span style="border-bottom: 1px dotted #f2f2f2;">{{editor.right.value}}</span>
        </p>
    </div>
</div>