<div id="dashboard-container">
<article id="dashboard">
    <nav>
        <ul>
            <li>
                <a href="#">Discover</a>
            </li>
            <li>
                <a href="#">Online</a>
            </li>
            <li>
                <a href="#">Manual Connection</a>
            </li>
            <li>
                <a href="#">News</a>
            </li>
            <li>
                <a href="#">Documentation</a>
            </li>
        </ul>            
    </nav>
    <section>
        <div class="actionbar">
            <button>something</button>
        </div>
        <div class="content">
            words, words, words
        </div>
    </section>
</article>
</div>