<div id="terminalhost"></div>

<script>
    $('#terminalhost').terminal({
        "run-test": function(script) {
                const th = document.getElementById("terminalhost");
                let scope = angular.element(th).scope();

                if (scope.cpctrl) {
                    scope.cpctrl.run(script)
                    .then(r => {
                        this.echo(r);
                    })
                    .catch(r => {
                        this.error(r);
                    });
                }
            }
    }, {
        prompt: '>',
        greetings: `
██╗   ██╗██╗    ███████╗██╗     ███████╗██╗   ██╗████████╗██╗  ██╗
██║   ██║██║    ██╔════╝██║     ██╔════╝██║   ██║╚══██╔══╝██║  ██║
██║   ██║██║    ███████╗██║     █████╗  ██║   ██║   ██║   ███████║
██║   ██║██║    ╚════██║██║     ██╔══╝  ██║   ██║   ██║   ██╔══██║
╚██████╔╝██║    ███████║███████╗███████╗╚██████╔╝   ██║   ██║  ██║
 ╚═════╝ ╚═╝    ╚══════╝╚══════╝╚══════╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝           

`
    });
</script>